<!-- wp:template-part {"slug":"header","theme":"sentones","tagName":"header"} /-->

<!-- wp:group {"metadata":{"name":"Content"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"0"},"border":{"bottom":{"color":"var:preset|color|secondary","width":"1px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-bottom-color:var(--wp--preset--color--secondary);border-bottom-width:1px;margin-top:0;margin-bottom:0"><!-- wp:post-content {"align":"full","layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"sentones","tagName":"footer"} /-->