<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"border":{"bottom":{"color":"var:preset|color|secondary","width":"1px"},"top":[],"right":[],"left":[]},"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"background","layout":{"type":"default"}} -->
<div class="wp-block-group has-background-background-color has-background" style="border-bottom-color:var(--wp--preset--color--secondary);border-bottom-width:1px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
    <!-- wp:template-part {"slug":"header","theme":"sentones","tagName":"header"} /-->
</div><!-- /wp:group -->

<!-- wp:cover {"overlayColor":"pale-gray","isUserOverlayColor":true,"isDark":false,"align":"full","style":{"spacing":{"margin":{"top":"0px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover alignfull is-light" style="margin-top:0px"><span aria-hidden="true" class="wp-block-cover__background has-pale-gray-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"33.33%"} -->
    <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:post-terms {"term":"category","separator":" — "} /-->
    
    <!-- wp:post-date /-->
    
    <!-- wp:post-title /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"16px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:avatar {"size":50,"style":{"border":{"radius":"25px"}}} /-->
    
    <!-- wp:post-author-name {"style":{"layout":{"selfStretch":"fill","flexSize":null}}} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"66.66%"} -->
    <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"border":{"radius":"5px"}}} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div></div>
    <!-- /wp:cover -->

    <!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"33.33%"} -->
        <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:group {"className":"post-sharing-buttons","style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
            <div class="wp-block-group post-sharing-buttons"><!-- wp:jetpack/sharing-buttons {"styleType":"icon"} -->
        <ul class="wp-block-jetpack-sharing-buttons has-normal-icon-size jetpack-sharing-buttons__services-list" id="jetpack-sharing-serivces-list"><!-- wp:jetpack/sharing-button {"service":"facebook","label":"Facebook"} /-->
        
        <!-- wp:jetpack/sharing-button {"service":"linkedin","label":"LinkedIn"} /-->
        
        <!-- wp:jetpack/sharing-button {"service":"share","label":"Share"} /-->
        
        <!-- wp:jetpack/sharing-button {"service":"x","label":"X"} /-->
        
        <!-- wp:jetpack/sharing-button {"service":"whatsapp","label":"WhatsApp"} /--></ul>
        <!-- /wp:jetpack/sharing-buttons --></div>
        <!-- /wp:group --></div>
        <!-- /wp:column -->
    
    <!-- wp:column {"width":"66.66%"} -->
    <div class="wp-block-column" style="flex-basis:66.66%">
    <!-- wp:post-content /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"sentones","tagName":"footer"} /-->